<%-include('partials/header')-%>

<div class="container d-flex flex-column justify-content-center w-50 mt-5">
    <h1>404:</h1>
    <h3>Something went wrong. You may wan to <a class="fst-italic text-decoration-underline" href="/">read</a> on KeyNote or go back to home page</h3>
    <button class="bg-success border-0 rounded  mt-5 py-3 fs-4"><a class="text-decoration-none w-3 text-white" href="/">Go Home</a></button>
</div>

<%-include('partials/footer')-%>
